<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>
  </head>
  <body ng-app>
    <h1><%= title %></h1>

    <a href="/romaneio">Romaneio</a>

  </body>
</html>
